.title_gradient {
   // font-size: 4rem;
   // font-weight: 800;
  
    background: linear-gradient(
      270deg,
      #307fff,
      #5cf1d3,
      #65d7ff,
      #6d64ff
    );
  
    background-size: 400% 400%;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  
    animation: gradientMove 5s ease infinite;
  }
  
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  